{block content}
<div class="tab-content">
	<form n:name="searchForm" class="search">
		<input n:name="text" placeholder="žánr">
		<button n:name="search"><img src="{$basePath}/img/magnifying-glass.png"></button>
	</form>
	žánry
</div>
{/block}
