{block content}
	<ul class="list-group">
	  <li class="list-group-item">
	    <span class="badge">{$songs}</span>
	    Počet písní
	  </li>
	  <li class="list-group-item">
	    <span class="badge">{$genres}</span>
	    Počet žánrů
	  </li>
	</ul>
{/block}
