.order-list label {
  width: 100%;
}
.order-list .badge {
  float: right;
  background-color: transparent;
}
.nav-tabs > li.active > a:hover {
  cursor: auto;
}
.child > label {
  padding-left: 40px;
}
.child > label ::before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px;
}
.child > label ::after {
  border-top: 1px solid #999;
  height: 20px;
  top: 20px;
  width: 25px;
}
.child > label ::before,
.child > label ::after {
  content: '';
  left: 25px;
  position: absolute;
  right: auto;
}
.order-button {
  float: right;
  margin-top: -45px;
}
