.search {
  width: 297px;
  height: 42px;
}
.search button {
  display: inline-block;
  top: 12px;
  right: 12px;
  background: transparent;
  width: 42px;
  height: 42px;
  margin-left: -42px;
}
.search button img,
.search button svg {
  width: 14px;
  height: 14px;
}
.search input[type="text"],
.search input[type="search"] {
  padding: 0 45px 0 12px;
  width: 255px;
  height: 42px;
  font-size: 15px;
  vertical-align: super;
}
