#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	songsDir: %wwwDir%/../../songs
	pricePerSong: 0.00001			# in bitcoins
	pricePerGenre: 0.000055			# in bitcoins
	addressLockTime: '- 20 minutes'
	currentGenreFile: %appDir%/model/currentGenre.txt

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	autoStart: yes

services:
	- App\Forms\FormFactory
	- App\Forms\SignFormFactory
	- App\Forms\SearchFormFactory
	- App\Model\GenresManager(songsDirectory: %songsDir%)
	- App\Model\SongsManager(songsDirectory: %songsDir%)
	- App\Model\QueueManager(currentGenreFile: %currentGenreFile%)
	- App\Model\AddressProvider(masterKey: %masterKey%, addressLockTime: %addressLockTime%)
	- App\Forms\AddSongFormFactory
	- App\Forms\AddGenreFormFactory
	router: App\RouterFactory::createRouter
	authenticator: Nette\Security\SimpleAuthenticator([
		admin: %adminPassword%
	])
	- {class: App\FrontModule\Presenters\SongsPresenter, setup: {setPricePerSong(%pricePerSong%)}}
	- {class: App\FrontModule\Presenters\GenresPresenter, setup: {setPricePerGenre(%pricePerGenre%)}}

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension

doctrine:
	types:
		uuid: Ramsey\Uuid\Doctrine\UuidType
