{block content}
<div class="alert alert-dismissible alert-success">
 	<button type="button" class="close" data-dismiss="alert">&times;</button>
	Skladby byly objednány.
</div>

<a href="bitcoin:{$address}?amount={$amount}"><button class="btn btn-success">Zaplatit</button></a>