.mdl-card {
    width: auto;
}
.mdl-card__media {
    text-align: center;
}
.mdl-card__media img {
    margin: auto;
    width: 100%;
    height: auto;
}

#songs-wrapper .mdl-cell {
    display: flex;
    align-items: flex-end;
}
